body{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav{
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #e4e4e4;
}
.menu{
    overflow: hidden;
    margin-bottom: 0;
}
.nav img{
    float: left;
    width: 200px;
}
.menu li{
    float: left;
    line-height: 50px;
    padding: 0 20px;
}
.menu li a{
    color: #878787;
}